nb-card {
  nb-card-header {
    position: relative;
    padding: 1rem 2rem;
  }
}

.confirmation-info-container {
  display: flex;
  justify-content: center;
}

label.col-form-label {
  text-align: end;
}

button.btn-link.btn-sm {
  padding: 0;
}

.close-alert-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  word-break: break-word;
}

.form-control-plaintext {
  word-break: break-word;
}
