<nb-card>
  <nb-card-body>
    <div class="form-container">
      <h1>LOGIN</h1>
      <form #form="ngForm">
        <input nbInput fullWidth name="email" type="text" placeholder="Email"
               [(ngModel)]="user.email" #email=ngModel required>
        <span class="input-error-notification" *ngIf="!validateInput(email)">Email is required!</span>
        <nb-form-field>
          <input nbInput fullWidth name="password" type="password" placeholder="Password"
                 [(ngModel)]="user.password" #password=ngModel #passwordInput required>
          <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword(passwordInput)">
            <nb-icon [icon]="getPasswordIcon(passwordInput)" pack="eva"></nb-icon>
          </button>
        </nb-form-field>
        <span class="input-error-notification" *ngIf="!validateInput(password)">Password is required!</span>
        <button class="submitButton" nbButton fullWidth status="primary" (click)="submit()">LOG IN</button>
      </form>
      <nb-alert class="error-alert" status="danger" *ngIf="errorMessage != null">
        {{errorMessage}}
      </nb-alert>
    </div>
  </nb-card-body>
</nb-card>
